<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
        http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">

	<persistence-unit name="SURETOUCH_PU" transaction-type="RESOURCE_LOCAL">

		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<!-- <exclude-unlisted-classes>true</exclude-unlisted-classes> -->


		<properties>

			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
			<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/suretouch_dev" />
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			
			<property name="hibernate.connection.username" value="root" />
			
			<property name="hibernate.connection.password" value="g0lyr1s" />
			
			<property name="hibernate.connection.autocommit" value="true" />
			<property name="hibernate.format_sql" value="false" />
			<property name="hibernate.use_sql_comments" value="false" />
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.c3p0.min_size" value="0" />
			<property name="hibernate.c3p0.max_size" value="10" />
			<property name="hibernate.c3p0.timeout" value="60" />
			<property name="hibernate.c3p0.max_statements" value="50" />
			<property name="hibernate.c3p0.idle_test_period" value="60" />
			<property name="hibernate.c3p0.acquire_increment" value="1" />
			<property name="hibernate.connection.provider_class"
				value="org.hibernate.connection.C3P0ConnectionProvider" />
			<property name="hibernate.c3p0.numHelperThreads" value="10" />
			<!-- 2nd level cache -->
			<property name="hibernate.cache.use_query_cache" value="false" />
			<property name="hibernate.cache.use_second_level_cache"
				value="false" />
			<property name="hibernate.generate_statistics" value="true" />

		</properties>
	</persistence-unit>
</persistence>		